:root {
    --bg-default: #f3f3f3cc;
    --primary-color: rgb(0, 133, 185);
    --accent-primary-color: rgb(0, 169, 236);
    --secundary-color: rgb(248, 150, 2);
    --accent-secundary-color: rgb(245, 188, 3);
    --text-color: #0c0c0c;
    --executiva-bg: #cce7f5; /* Versão clara para Executiva */
    --executiva-title: #005980; /* Título com contraste */
    --premium-bg: #fff7cc; /* Versão clara para Premium */
    --premium-title: #996a00; /* Título com contraste */
    --luxo-bg: #f5cccc; /* Versão clara para Luxo */
    --luxo-title: #a80000; /* Título com contraste */
}

/* Estilos para as diferentes classes de acomodação */
.nivel-executiva {
    background-color: var(--executiva-bg); /* Cor de fundo para classe executiva */
    padding: 20px 0;
    margin-bottom: 20px;
}

.nivel-premium {
    background-color: var(--premium-bg); /* Cor de fundo para classe premium */
    padding: 20px 0;
    margin-bottom: 20px;
}

.nivel-luxo {
    background-color: var(--luxo-bg); /* Cor de fundo para classe luxo */
    padding: 20px 0;
    margin-bottom: 20px;
}

/* Cores dos títulos para combinar com as seções */
.titulo-executiva {
    color: var(--executiva-title); /* Azul escuro para contraste com fundo azul claro */
}

.titulo-premium {
    color: var(--premium-title); /* Marrom escuro para combinar com o amarelo claro */
}

.titulo-luxo {
    color: var(--luxo-title); /* Vermelho escuro para contrastar com o fundo rosa claro */
}

/* Ajustes de espaçamento e estilo */
.box {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    background-color: white; /* Fundo branco nas caixas de imagem */
    text-align: center; /* Centraliza o texto e os conteúdos dentro das caixas */
}

.box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.separator {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

/* Ajusta o espaçamento entre colunas */
.col-xs-4 {
    padding: 0 15px;
}

.container-fluid {
     background-color: var(--bg-default);
     color: #000;
     border: 0;
     display: flex;
     justify-content: center;
    }
    
    header {
     -webkit-box-shadow: -2px 3px 28px -10px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: -2px 3px 28px -10px rgba(0, 0, 0, 0.75);
     box-shadow: -2px 3px 28px -10px rgba(0, 0, 0, 0.75);
    }
    
    .navbar-inverse {
     background-color: var(--bg-default);
     border-color: transparent;
    }
    
    .navbar-inverse .navbar-brand {
     color: var(--text-color);
    }
    
    .navbar-header {
     display: inline-flex;
    }
    
    .navbar-inverse .navbar-brand:hover {
     color: #27272775;
     transition: 0.5s;
    }
    
    .container-fluid {
     height: 85px;
    }
    
    .btn-whatsapp {
     padding: 15px;
     background-color: var(--primary-color);
     border: 0;
     outline: 0;
     color: #fff;
     font-weight: 500;
     margin: 15px;
     font-size: 15px;
     border-radius: 15px;
    }
    
    #wp {
     margin: 5px;
     font-size: 15px;
    }
    
    p{
        text-align: justify;
    }