.header {
    background-color: darkgoldenrod;
    text-align: center;
    padding: 20px;
    
  }

  .topnav {
    overflow: hidden;
    background-color: darkred;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100;
  }

  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .column {
    float: left;
    width: 33.33%;
    margin: 10px;
    background-color: khaki;
    border-radius: 5;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  .product{
    text-align: center;
  }
  .content{
    display: flex;
    flex-direction: row;
    align-items: center;
  }