body{
    background-color: grey;
}

/*#body {
    background-color: lightgray;
}
*/

#div1{
    background-color: burlywood;
    width: 300px;
    margin: auto;
    padding: 13px;
    border: 3px solid black;
    border-radius: 13px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color:aqua;
    border: 3px solid black;
    text-align: center;
    padding: 8px;
}

td {
    border: 3px solid black;
    text-align: left;
    padding: 8px;
}