#success{
    display: none;
    background-color: #ddffdd;
    border-left: 6px solid #04AA6D;
}

#msg{
    display: none;
}

#msgBold{
    display: none;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}



#tab{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}